In [76]:
### RUN THIS CELL TO SET UP ###
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [77]:
### Loading in the data ###
master = Table.read_table("master.csv")

In [78]:
### Data types for master.csv ###
dts = [type(master.column(i).item(0)) for i in np.arange(master.num_columns)]
dts

[int, str, str, int, int, str, str, str, str, int, int, int]

In [79]:
### Segmenting the data set ###
master7_24 = master.where(8, "19:00").where(4, 24)
master7_28 = master.where(8, "19:00").where(4, 28)
master8_24 = master.where(8, "20:00").where(4, 24)
master8_28 = master.where(8, "20:00").where(4, 28)
master9_24 = master.where(8, "21:00").where(4, 24)

In [80]:
master9_24

StoreID | Store Type | Store Location | Associates per Open Hour
Pre 4/5/2016 | Associates per Open Hour
Post 4/5/2016 | Open Time Pre 4/5/2016 | Open Time Post 4/5/2016 | Close Time Pre 4/5/2016 | Close Time Post 4/5/2016 | Store Age | Population within 5mi
(1000s) | Competition within 5mi
1       | Standalone | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 8         | 388                           | 45
2       | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 38        | 66                            | 45
3       | Standalone | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 36        | 13                            | 6
4       | Strip Mall | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 39        | 4                             | 8
5       | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 20        | 111                           | 3
6       | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 36        | 269                           | 6
7       | Standalone | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 22        | 115                           | 3
9       | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 26        | 279                           | 7
10      | Strip Mall | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 37        | 30                            | 59
13      | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 21:00                    | 35        | 151                           | 18
... (353 rows omitted)

In [85]:
def avg_before_after(data):
    store_id = data[0]
    data = data[1:53]
    before = data[0:14]
    after = data[14:]
    before_avg = np.average(before)
    after_avg = np.average(after)
    return [store_id, before_avg, after_avg]

def update_financial_data(table):

    new = Table().with_columns("StoreID", [],
                              "before", [],
                              "after", [])
    for i in np.arange(table.num_rows):
        results = avg_before_after(table.row(i))
        new = new.with_row(results)

    return new

In [90]:
### financial data ###
fin6_7 = update_financial_data(Table.read_table("financials6p_7p.csv"))
fin7_6 = update_financial_data(Table.read_table("financials7a_6p.csv"))
fin7_8 = update_financial_data(Table.read_table("financials7p_8p.csv"))
fin8_9 = update_financial_data(Table.read_table("financials8p_9p.csv"))

financial_data = [fin6_7, fin7_6, fin7_8, fin8_9]

for f in financial_data:
    f.show(10)

In [91]:

fin8_9.join("StoreID", master7_24)

StoreID | before  | after   | Store Type | Store Location | Associates per Open Hour
Pre 4/5/2016 | Associates per Open Hour
Post 4/5/2016 | Open Time Pre 4/5/2016 | Open Time Post 4/5/2016 | Close Time Pre 4/5/2016 | Close Time Post 4/5/2016 | Store Age | Population within 5mi
(1000s) | Competition within 5mi
21      | 240.643 | 275.868 | Strip Mall | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 24        | 12                            | 96
31      | 442.929 | 474.053 | Strip Mall | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 13        | 30                            | 1
71      | 567.929 | 620.474 | Strip Mall | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 21        | 400                           | 31
102     | 324.286 | 361.237 | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 21        | 61                            | 2
104     | 838.214 | 928.684 | Standalone | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 33        | 193                           | 8
116     | 209.357 | 231.684 | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 34        | 210                           | 14
155     | 549.643 | 589.737 | Standalone | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 26        | 448                           | 31
173     | 808.357 | 831.895 | Standalone | Urban          | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 31        | 264                           | 43
188     | 849.571 | 884.5   | Strip Mall | Suburban       | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 21        | 436                           | 21
223     | 685.929 | 735.158 | Strip Mall | Metropolitan   | 24                                    | 24                                     | 7:00                   | 7:00                    | 21:00                   | 19:00                    | 20        | 11                            | 13
... (20 rows omitted)